@model Aiub_Hand_To_Hand_MVC.Models.DataModel.RepositoryModel

<h4>RepositoryModel</h4>
<hr />
<div class="row">
    <div class="col-md-3">
    </div>
        <div class="col-md-9">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="card border-light " style="max-width: 30rem;">
                <div class="card-header">
                   <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                     <select name="Subject" class="form-control" asp-items="@ViewBag.cities"></select>
                      <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <div class="card border-light " style="max-width: 30rem;">
                <div class="card-header">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
                     </div>
                </div>
            </div>

           
            <div class="card border-light " style="max-width: 30rem;">
                <div class="card-header">
            <div class="form-group">
                <label asp-for="Pdf" class="control-label"></label>
                <input type="file" asp-for="Pdf" class="form-control" />
                <span asp-validation-for="Pdf" class="text-danger"></span>
            </div>
            </div>
            </div>
            
            
            <div class="card border-light " style="max-width: 30rem;">
                <div class="card-header">
           <div class="form-group">
                <label asp-for="Status" class="control-label"></label><br /><br />
                
                <input type="radio" name="Status" value="Public" id="form2Example3c" onclick="enable()" />Public <br /><br />
                <input type="radio" name="Status" value="Private" id="form2Example3cg" onclick="enable()" />Private

                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
                        </div>
            </div>


            <div class="card border-light " style="max-width: 30rem;">
                <div class="card-header">
             <div class="form-group">
               <!-- <label asp-for="Personal" class="control-label"></label>-->
                <input hidden="true" id="pp" asp-for="Personal" class="form-control" placeholder="write Personal username..."/>
                <span asp-validation-for="Personal" class="text-danger"></span>
            </div>
                       </div>
            </div>

            <div class="card" style="max-width: 30rem;">
                <div class="card-header">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block" />
            </div>
             </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>

function enable()
{
    var check=document.getElementById("form2Example3cg");
    var check1=document.getElementById("form2Example3c");
    var ss=document.getElementById("pp");
    if (check.checked) {
        ss.removeAttribute("hidden");
    }
    else if(check1.checked)
    {
        ss.hidden = "true";
    }

}
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
