@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
 <section class="Container">
        <div class="row">
            <div class="col-lg-3 bg-success h-100">

                <div class="d-grid gap-2">

                    <h3>Varsity</h3>
                    <a href="~/Login/Index" class="btn btn-primary">Varsity List</a>
                    <a href="~/Repository/Index" class="btn btn-primary">Add Varsity</a>

                    <h3>Mentor</h3>
                    <a href="~/AdminMentor/MentorList" class="btn btn-primary">Mentor List</a>
                    <a href="~/AdminMentor/MentorAdd" class="btn btn-primary">Add Mentor</a>

                    <h3>Student</h3>
                    <a href="~/AdminStudent/StudentList" class="btn btn-primary">Student List</a>
                    <a href="~/AdminStudent/StudentAdd" class="btn btn-primary">Add Student</a>
                    <h3>Add Courses</h3>
                    <a href="~/AdminCourse/AddCourse" class="btn btn-primary">Add Course</a>
                    <a href="~/AdminCourse/CourseList" class="btn btn-primary">Course List</a>
                    <h3>Transactions</h3>
                    <a href="~/AdminTransaction/TransactionHistory" class="btn btn-primary">All Transaction</a>
                    <h3>Search</h3>
                    <a href="~/AdminStudent/StudentSearch" class="btn btn-primary">Search Student</a>
                    <a href="~/AdminInstitution/InstitutionSearch" class="btn btn-primary">Search Institution</a>
                    <a href="~/AdminMentor/MentorSearch" class="btn btn-primary">Search Mentor</a>
                    <h3>Password Change Request</h3>
                    <a href="~/AdminStudent/StudentPasswordChangeRequest" class="btn btn-primary">Student</a>
                    <a href="~/AdminInstitution/InstitutionPasswordChangeRequest" class="btn btn-primary">Institution</a>
                    <h3>Revnue</h3>
                    <a href="~/AdminRevenue/Revenue" class="btn btn-primary">Revnue Details</a>
                    <h3>Certificate Request</h3>
                    <a href="~/AdminStudent/StudentCertificate" class="btn btn-primary">Certificate Request</a>


                </div>
               
            </div>
            <div class="bg-danger col-lg-9 ">
                <h1>admin dashboard</h1>
            </div>

        </div>

    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

